 
/* Wrapper for navigation buttons */
.custom-swiper-buttons-wrapper {
  position: absolute;
  bottom: 18%;
  right: 5%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px; 
  z-index: 6;
 
}

/* Shared button styles */
.custom-swiper-button-next,
.custom-swiper-button-prev {
 
  border-radius: 20%;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  color: var(--text-primary);
  position: static;  
  transform: none;
  background-color: var(--color-bglocation);  
  
 
   
}

/* Hover effect */
.custom-swiper-button-next:hover,
.custom-swiper-button-prev:hover {
  border-color: var(--color-primary);
  color: var(--bg-primary);
  background: var(--color-primary);
  color: white;
}

@media (max-width: 768px) {
  .custom-swiper-buttons-wrapper{
    bottom: 5%;
  }

}


@media (max-width: 640px) {
  .custom-swiper-buttons-wrapper {
    position: static;
    transform: none;
    width: 100%;
    display: flex;
    justify-content: center; 
    padding-top: 20px;
    margin-top: 10px;
    align-items: center;
  }
}


@media (max-width: 500px) {
  .custom-swiper-buttons-wrapper {
    bottom: 10%;

  
  }
}